<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.0.2" targetFramework="win81" />
  <package id="Caliburn.Micro" version="1.4" targetFramework="win81" />
  <package id="Caliburn.Micro.WinRT.Autofac" version="0.2.0" targetFramework="win81" />
  <package id="ModernChart" version="1.0.0" targetFramework="win81" />
  <package id="Windows.UI.Interactivity" version="1.0.2.0" targetFramework="win81" />
</packages>